# Maven
target/

# IntelliJ IDEA
.idea/
**/.idea/
*.iml
**/*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Java
*.class

# Logs
*.log

# Package files
*.jar
*.war
*.ear

# OS files
.DS_Store
Thumbs.db
